data/input/train-backup
data/input/train/**/0
data/input/train/**/1
data/input/train/**/2
data/input/train/**/.zarray
data/input/train/**/.zattrs
data/input/train/**/.zgroup
data/input/test/**/0
data/input/test/**/1
data/input/test/**/2
data/input/test/**/.zarray
data/input/test/**/.zattrs
data/input/test/**/.zgroup
data/working/train-backup/overlay
data/working/train-backup/test
